footer {
  background-color: white;
  color: black;
  position: relative;
  z-index: 9999;
}

@media (max-width: 750px) {
  .myRowToCol {
    flex-direction: column !important;
  }
  .mtres{
    margin-top: 1.4rem;
  }
}
@media (min-width: 1000px) {
  .mrRes{
    margin-right: 4rem;
  }
}
