#addReminder{
    position: absolute;
    width: 90vw;
    z-index: 999;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBox{
    width: 60%;
    max-width: 650px !important;
}

.floatingBtn:focus-visible, .floatingBtn:focus{
    outline: none !important;
    box-shadow: 0 0 0 0 !important;
    border: 0px !important;
}
.reflow-shopping-cart {
    min-height: 100px !important;
}  

@media( max-width : 800px){
    .myBox{
        width: 96%;
    }
}

#timeWarning{
    display: none;
}

.myCol{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#getBlur{
    overflow-x: hidden;
}