.listbtnoption:hover{
    color: #3763f4;
}

@media (max-width : 999px){
    .responsiveToDo{
        padding: 0px !important;
    }
    .responsivetodobtn{
        margin-right: 8px !important;
    }
    .responsivetodobottomcontainer{
        padding-left: 8px !important;
    }
}