.editorcontainer {
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.15;
  width: 100%;
  padding: 10px;
  color: black;
}

.my-input {
  border: 0px !important;
  font-size: calc(1.8rem + 1vw) !important;
  padding-bottom: 0px !important;
  line-height: 14px;
}

.my-input:focus,
.my-input:focus-visible {
  box-shadow: 0 0 0 0 !important;
}

.form-control {
  font-size: none !important;
}

.preview {
  min-height: 250px;
  border: 2px solid rgba(0, 0, 0, 0.151);
  padding: 1rem;
  border-radius: 10px;
  background-color: white !important;
}
.notebody {
  min-height: 250px;
  padding: 1rem;
  border-radius: 10px;
  background-color: white !important;
}
.notedesc {
  min-height: 250px;
  padding: 1rem;
  border-radius: 10px;
}

.mde-header {
  padding: 7px;
  /* background-color: white !important; */
}
.image-tip {
  /* background-color: white !important; */
  
}

.input-2 {
  border: 0px !important;
  padding-bottom: 0px !important;
  width: 40vw !important;
  padding: 0px !important;
  font-size: 1.3rem;
}

.input-2:focus,
.input-2:focus-visible {
  box-shadow: 0 0 0 0 !important;
}

.react-mde {
  border: 1px solid #c8ccd0;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.sideNav {
  max-width: 260px !important;
  height: 100vh;
  position: fixed;
  width: 30vw;
}
.addNote {
  padding: 20px;
  padding-top: 10px;
  border: 2px solid #c8ccd0 !important;
  overflow: hidden;
  border-radius: 15px;
  /* background-color: white !important; */
}

@media (width<600px) {
  .addNote {
    padding: 5px !important;
    border: 2px solid #c8ccd0 !important;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 5vh !important;
  }
  .notecontainer {
    margin: 0px !important;
    padding: 0px !important;
  }
}
.notetitle {
  margin-left: 4px !important;
  padding-left: 0px !important;
  font-weight: 600 !important;
}

.margindiv {
  height: 100px;
}

.newnotebutton {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.backButton {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  color: #3763f4;
}
.backButton:focus-visible {
  outline: none !important;
}

.minheight {
  min-height: 100vh !important;
}
.newnotelink {
  color: #3763f4;
}
.newnotelink:focus-visible {
  border: 0px solid white !important;
  box-shadow: 0 0 0 0 !important;
}
.newnotelink:hover {
  color: #c8ccd0;
}

.viewnote {
  min-height: 70vh !important;
  padding: 20px;
  padding-top: 10px;
  /* border: 2px solid #c8ccd0 !important; */
  overflow: hidden;
  border-radius: 20px;
}

.editbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  color: white !important;
  background-color: #3763f4 !important;
  border: 5px !important;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
}

.floatingIconContainer {
  margin: 30px;
  margin-left: 10px;
}

@media (width<600px) {
  .floatingIconContainer {
    margin: 10px !important;
  }
}

.backButtoncontainer {
  width: 40px;
}
/* 
@media (min-width: 576px) {
  .reflow-product-list.ref-cards .ref-products {
    --ref-products-per-row: 1;
  }
}

@media (min-width: 800){
  .reflow-product-list.ref-cards .ref-products {
    --ref-products-per-row: 2 !important;
  }
}
@media (min-width: 1300){
  .ref-products {
    --ref-products-per-row: 3 !important;
  }
} */

.mde-text{
  min-height: 300px;
}

.mde-preview-content{
  background-color: white;
  min-height: 300px;
}